* {
  -webkit-print-color-adjust: exact;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
article {
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  -ms-transition: background 0.6s ease;
  transition: background 0.2s ease;
  display: none;
}
article.bespoke-parent {
  overflow: visible;
  position: static;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}
.bespoke-slide {
  zoom: 1 !important;
  height: 743px;
  width: 100%;
  page-break-before: always;
  position: static;
  margin: 0;
  -webkit-transition: -webkit-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -o-transition: -o-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  transition: transform 0.1s ease, opacity 0.1s ease, background 0.1s ease;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 40px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.bespoke-after {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -ms-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
}
.bespoke-inactive {
  -ms-filter: none;
  filter: none;
  opacity: 0;
  pointer-events: none;
}
.bespoke-bullet-inactive {
  opacity: 0;
}
li.bespoke-bullet-inactive {
  transform: translateX(bullet_transition_translate_x);
}
@media print {
  .bespoke-bullet-inactive {
    opacity: 1;
  }
}
.bespoke-progress-parent {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
}
.bespoke-scale-parent {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@page {
  width: landscape;
  height: landscape;
  margin: 0;
}
.bespoke-before {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(16);
  -moz-transform: scale(16);
  -ms-transform: scale(16);
  -o-transform: scale(16);
  transform: scale(16);
}
.bespoke-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bespoke-bullet {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
li {
  margin-bottom: 12px;
  text-align: center;
}
li.bespoke-bullet-inactive {
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
.bespoke-bullet-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bespoke-progress-bar {
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position: absolute;
  height: 100%;
  background: #0089f3;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.emphatic,
.emphatic .bespoke-slide {
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background-color: #f7fbfc;
}
.reveal,
.reveal .bespoke-slide {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333;
}
pre {
  padding: 26px !important;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333;
}
h1 {
  font-size: 82px;
  line-height: 92px;
  letter-spacing: -2px;
  margin-bottom: 16px;
  color: rgba(0,0,0,0) 0;
}
h2 {
  font-size: 52px;
  letter-spacing: -1px;
  margin-bottom: 8px;
}
h3 {
  font-size: 44px;
  font-weight: normal;
  margin-bottom: 24px;
}
hr {
  visibility: hidden;
  height: 20px;
}
ul {
  list-style: none;
}
p {
  margin: 0 100px 12px;
  line-height: 22px;
  color: rgba(0,0,0,0) 0;
}
a {
  color: #0089f3;
  text-decoration: none;
}
.def {
  font-size: 26px;
}
#sm {
  font-size: 24px;
}
#cover {
  height: 320px;
  width: 960px;
  border-radius: 20px;
  border-style: groove;
}
#lii {
  text-align: left;
}
