doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title COSPLAY

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
 
    article

      section(data-bespoke-state='emphatic')
        h2 Pinsil Team
        img#cover(src='../gambar/header.jpg')
        ul
          li
          li M. Rizky Januari Hrp. (121111915)
          li Suhendry (121111656)
          li Fadhlan R. Nasution	(121111613)
          li Muhammad Rivaldi (121111851)

      section(data-bespoke-state='emphatic')
        h2 Cosplay?
        ul.def(text-align='left')
          li
          li  Cosplay (Costume Play) diambil dari kata Kosupure (Jepang) 
          li
            | Mengenakan pakaian, aksesori & rias wajah seperti karakter anime, manga, dongeng atau game
          li  Pelakunya sendiri disebut Cosplayer 
          li
            | Cosplayer dituntut untuk dapat berakting sesuai dengan karakter tokoh yang diperankan layaknya
          li
            | Diperlihatkan melalui foto dan video atau tampil di atas panggung pada suatu acara cosplay
          li  Dikalangan penggemar, cosplayer juga disingkat sebagai layer

      section(data-bespoke-state='emphatic')
        h2 Sejarah Cosplay
        ul.def
          li  
          li
            | Tahun 1960-an, penggemar cerita dan film fiksi ilmiah di AS sering mengadakan konvensi fiksi ilmiah
          li
            | Tradisi penyelenggaraan konvensi fiksi ilmiah sampai ke Jepang dekade 1970-an dalam bentuk acara peragaan kostum (costume show)
          li
            | Peragaan "cosplay" pertama kali dilangsungkan tahun 1978 di Ashinoko, Prefektur Kanagawa dalam bentuk pesta topeng konvensi fiksi ilmiah Nihon SF Taikai ke-17
          li
            | Kritikus fiksi ilmiah Mari Kotani menghadiri konvensi dengan mengenakan kostum seperti tokoh dalam gambar sampul cerita A Fighting Man of Mars karya Edgar Rice Burroughs
          li
            | Yasuhiro Takeda (Direktur perusahaan animasi Gainax) memakai kostum tokoh Star Wars
          li
            | Tahun 1985, Cosplay semakin meluas di Jepang karena menjadi sesuatu hal yang mudah dilakukan

      section(data-bespoke-state='emphatic')
        h2 Perkembangan Cosplay
        ul
          li  
          li#lii  1. Perkembangan Cosplay Di Dunia
          li#lii  2. Perkembangan Cosplay Di Indonesia 
          li#lii  3. Perkembangan Cosplay Di Medan

      section(data-bespoke-state='emphatic')
        h3 1. Perkembangan Cosplay Di Dunia
        ul
          li  
          li  AFA (Anime Festifal Asia)
          li  WCS (World Cosplay Submit)
          li
            div
              img(src='../gambar/cosplay_dunia.jpg')
          li  Ikut sertanya brand-brand film atau game ternama dalam membuat event cosplay

      section(data-bespoke-state='emphatic')
        h3 2. Perkembangan Cosplay Di Indonesia
        ul
          li  
          li  Cosplayer Indonesia berhasil merebut juara di AFA dan WCS
          li  untuk event Internasional, Indonesia punya penyeleksian di setiap kotanya
          li
            div
              img(src='../gambar/cosplay_asia.jpg')
          li  Indonesia juga di sponsori oleh event di luar negeri

      section(data-bespoke-state='emphatic')
        h3 3. Perkembangan Cosplay Di Medan
        ul
          li  
          li
            | Medan adalah kota yang perkembangannya paling pesat dibandingkan dengan kota lainnya di daerah Sumatera
          li  Event nasional membuat event regional untuk Medan 
          li
            div
              img(src='../gambar/Cosplaymedan.jpg')
          li  Berkembangnya team-team Cosplay 
          li  Munculnya cosplayer baru di setiap event 

      section(data-bespoke-state='emphatic')
        h2 Pembagian Cosplay
        ul
          li
          li
            | Secara umum cosplay dinilai sama. Tetapi tak langsung dalam beberapa event yang terjadi di Indonesia sering dilakukan pembagian kategori cosplay

      section(data-bespoke-state='emphatic')
        h3 Cosplay Anime/manga
        ul
          li
          li Diambil dari karakter animasi maupun manga atau komik ternama
          li
            div
              img(src='../gambar/anime.jpg')

      section(data-bespoke-state='emphatic')
        h3 Cosplay Game
        ul
          li
          li Diambil dari karakter Game
          li
            div
              img(src='../gambar/game.jpg')

      section(data-bespoke-state='emphatic')
        h3 Cosplay Tokusatsu
        ul
          li
          li Diambil dari karakter superhero Jepang yang memiliki visual effect
          li
            div
              img(src='../gambar/tokusatsu.jpg')

      section(data-bespoke-state='emphatic')
        h3 Cosplay Original
        ul
          li
          li
            | Diambil dari karakter yang di buat sendiri oleh pemerannya
            br
            | Mereka memerankan sesuai gambar dan deskripsi
          li
            div
              img(src='../gambar/533892_587057357980838_1180643319_n.jpg')

      section(data-bespoke-state='emphatic')
        h3 Cosplay Gijinka
        ul
          li
          li
            | Diambil dari karakter yang tidak berwujud manusia tetapi di buat dalam versi manusia
            br
            | Cosplay angry bird, doraemon dll
          li
            div
               img(src='../gambar/gijinka.jpg')

      section(data-bespoke-state='emphatic')
        h2 Efek Dari Cosplay
        h3.bullet
        ul
          li#lii 1. Menambah kreativitas
          li#lii 2. Membuat kita pandai dalam bidang-bidang tertentu
          li#lii 3. Mendapatkan teman-teman baru
          li#lii 4. Meningkatakan rasa percaya diri

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild